{% extends 'admin/base.html' %}
{% block title %}LINGUERE FABLAB ADMINISTRATION{% endblock %}
{% load static %}
{% block extrahead %}{{ block.super }}
<link rel="icon" type="image/x-icon" href="{% static 'images/icons/favicon.png' %}">
<style>

    #header {
        background-color: #e74c3c !important;
        color: white !important;
    }

    #header h1 a {
        color: white !important;
    }

    #nav-sidebar {
        background-color: #2178d0 !important;
    }

    button,
    input[type=submit],
    .button {
        background: #e74c3c !important;
        color: white !important;
    }

    img {
        max-width: 60px;
        height: auto;
        border-radius: 50%;
    }

    /* Corrige les labels longs */
    .aligned label {
        width: 280px !important;
    }

</style>
{% endblock %}

{% block branding %}
<img src="{% static 'AntaBackEnd/images/logos.jpeg' %}" alt="Logo" class="logo-img me-3">
<h1 id="site-name"><a href="{% url 'admin:index' %}">LINGUERE FABLAB ADMINISTRATION</a></h1>
{% endblock %}

{% block extrabody %}{{ block.super }}
{% endblock %}