{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Inscription - LINGUERE FABLAB</title>
    <link rel="stylesheet" href="{% static 'css/toast.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class="signup-container">
        <div class="logo">
            <div class="logo-img"><img src="{% static 'AntaBackEnd/images/logos.jpeg' %}"></div>
            <div class="logo-text">LINGUERE FABLAB</div>
        </div>

        <h2>Créer un compte</h2>


        <form method="POST" action="{% url 'register-user' %}">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <ul class="error-list">
                    {% for error in form.non_field_errors %}
                        <li style="color:red; margin-bottom: 20px;">{{error}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            <div class="form-row">
                <div class="form-group">
                    <label for="lastname">Nom</label>
                    {{form.last_name}}
                    {% if form.last_name.errors %}
                        {% for error in form.last_name.errors %}
                            <div class="text-danger">{{error}}</div>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="firstname">Prénoms</label>
                    {{form.first_name}}
                    {% if form.first_name.errors %}
                        {% for error in form.first_name.errors %}
                            <div class="text-danger">{{error}}</div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                {{form.email}}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <div class="text-danger">{{error}}</div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                {{form.username}}
                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                        <div class="text-danger">{{error}}</div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group">
                <label for="password">Mot de passe</label>
                {{ form.password }}
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <div class="text-danger">{{error}}</div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group">
                <label for="confirm_password">Confirmation du mot de passe:</label>
                <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirmer le mot de passe" class="form-control" equired>
            </div>

            <div class="form-group">
                <label for="tel_num">Numéro de téléphone</label>
                {{form.tel_num}}
                {% if form.tel_num.errors %}
                    {% for error in form.tel_num.errors %}
                        <div class="text-danger">{{error}}</div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group">
                <label for="adress">Adresse</label>
                {{form.adress}}
                {% if form.adress.errors %}
                    {% for error in form.adress.errors %}
                        <div class="text-danger">{{error}}</div>
                    {% endfor %}
                {% endif %}
            </div>

            <button id='submit' type="submit">S'inscrire</button>
        </form>

        <div class="login-link">
            Déjà un compte ? <a href="{% url 'login' %}">Connectez-vous</a>
        </div>
        
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- load messages -->
            {% include 'alerts.html' %}
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>