# Default ignored files
__pycache__/
.vscode/
Json_files/
.env
cmds_bash.md
commit_and_push.sh
db.sqlite3
deploy.sh
dj_superuser_render.md
django_server.sh
import_and_copy.sh
launching_server.bat
migrations.sh
note.txt
Notes.md
README.md
render_psql.md
tasks.md
tests.py
useless.txt
