# Default ignored files
__pycache__/
AntaBackEnd/deploy.sh
AntaBackEnd/launching_server.bat
AntaBackEnd/mail_sender.py
AntaBackEnd/README.md
AntaBackEnd/test.py
AntaBackEnd/script.sh
AntaBackEnd/.env
AntaBackEnd/django_server.sh
AntaBackEnd/import_and_copy.sh
AntaBackEnd/migrations.sh
AntaBackEnd/note.txt
AntaBackEnd/db.sqlite3
