# Default ignored files
__pycache__/
deploy.sh
launching_server.bat
Notes.md
README.md
test.py
script.sh
.env
django_server.sh
import_and_copy.sh
migrations.sh
note.txt
db.sqlite3
useless.txt