{% extends 'Shop/base.html' %}

{% block head_body_begin %}
{{block.super}}
{% endblock %}

{% block main_content %}

{% block main_content_begin %}
{{block.super}}
{% endblock %}

{% block filter_block %}

<!-- filters for arduino section -->
<div class="filter-group">
    <div class="filter-title" onclick="toggleFilter('category-filter')">
        <span>Catégories</span>
        <i class="fas fa-chevron-down"></i>
    </div>
    <div class="filter-options" id="category-filter">
        <div class="filter-option">
            <input type="checkbox" class="category_checks" value="Kits Arduino" checked>
            <label for="arduino">Kits Arduino</label>
        </div>
        <div class="filter-option">
            <input type="checkbox" class="category_checks" value="Composants IOT" checked>
            <label for="iot">Composants IoT</label>
        </div>
        <div class="filter-option">
            <input type="checkbox" class="category_checks" value="Robotique" checked>
            <label for="robotics">Robotique</label>
        </div>
        <div class="filter-option">
            <input type="checkbox" class="category_checks" value="Capteurs" checked>
            <label for="sensors">Capteurs</label>
        </div>
    </div>
</div>

<div class="filter-group">
    <div class="filter-title" onclick="toggleFilter('price-filter')">
        <span>Prix</span>
        <i class="fas fa-chevron-down"></i>
    </div>
    <div class="filter-options" id="price-filter">
        <input type='number' class='form-control' placeholder='minimum' min=0 id='minPrice' name='minPrice' style="width:140px" value="0">
        <input type='number' class='form-control' placeholder='maximum' min=0 id='maxPrice' name='maxPrice' style="width:140px" value="0">
    </div>
</div>

<div class="filter-group">
    <div class="filter-title" onclick="toggleFilter('stock-filter')">
        <span>Disponibilité</span>
        <i class="fas fa-chevron-down"></i>
    </div>
    <div class="filter-options" id="stock-filter">
        <div class="filter-option">
            <input type="checkbox" class="disponib_checks" value="En stock" checked>
            <label for="in-stock">En stock</label>
        </div>
        <div class="filter-option">
            <input type="checkbox" class="disponib_checks" value="Stock limité" checked>
            <label for="low-stock">Stock limité</label>
        </div>
        <div class="filter-option">
            <input type="checkbox" class="disponib_checks" value="Rupture de stock" checked>
            <label for="out-of-stock">Rupture de stock</label>
        </div>
    </div>
</div>
{% endblock %}

{% block main_content_end %}
{{block.super}}
{% endblock %}

{% endblock %}

{% block head_body_middle %}
{{block.super}}
{% endblock %}

{% block head_body_end %}
{{block.super}}
{% endblock %}