{% extends 'Shop/base.html' %}

{% block head_body_begin %}
{{block.super}}
{% endblock %}

{% block main_content %}

    {% block main_content_begin %}
        {{block.super}}
    {% endblock %}

    {% block filter_block %}

        <!-- filters for arduino section -->
        <div class="filter-group">
            <div class="filter-title" onclick="toggleFilter('category-filter')">
                <span>Catégories</span>
                <i class="fas fa-chevron-down"></i>
            </div>
            <div class="filter-options" id="category-filter">
                <div class="filter-option">
                    <input type="checkbox" class="category_checks" value="Kits Arduino" {% if categorie_1 %}checked{% endif %}>
                    <label for="arduino">Kits Arduino</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" class="category_checks" value="Composants IoT" {% if categorie_3 %}checked{% endif %}>
                    <label for="iot">Composants IoT</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" class="category_checks" value="Robotique" {% if categorie_4 %}checked{% endif %}>
                    <label for="robotics">Robotique</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" class="category_checks" value="Capteurs" {% if categorie_2 %}checked{% endif %}>
                    <label for="sensors">Capteurs</label>
                </div>
            </div>
        </div>

        <div class="filter-group">
            <div class="filter-title" onclick="toggleFilter('price-filter')">
                <span>Prix</span>
                <i class="fas fa-chevron-down"></i>
            </div>
            <div class="filter-options" id="price-filter">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Min</span>
                    </div>
                    <input type="number" class='form-control' aria-label='Min' min=0 id='minPrice' name='minPrice' style="width:140px" value='{% if price_min %}{{price_min}}{% else %}0{% endif %}'>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Max</span>
                    </div>
                    <input type='number' class='form-control' aria-label='Max' min=0 id='maxPrice' name='maxPrice' style="width:140px" value='{% if price_max %}{{price_max}}{% else %}0{% endif %}'>
                </div>
            </div>
        </div>

        <div class="filter-group">
            <div class="filter-title" onclick="toggleFilter('stock-filter')">
                <span>Disponibilité</span>
                <i class="fas fa-chevron-down"></i>
            </div>
            <div class="filter-options" id="stock-filter">
                <div class="filter-option">
                    <input type="checkbox" class="disponib_checks" value="En stock" {% if stock_1 %} checked {% endif %}>
                    <label for="in-stock">En stock</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" class="disponib_checks" value="Stock limité" {% if stock_2 %} checked {% endif %}>
                    <label for="low-stock">Stock limité</label>
                </div>
                <div class="filter-option">
                    <input type="checkbox" class="disponib_checks" value="Rupture de stock" {% if stock_3 %} checked {% endif %}>
                    <label for="out-of-stock">Rupture de stock</label>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block main_content_end %}

        {% block main_content_end_begin %}
            {{block.super}}
        {% endblock %}

        {% block app_section_name %}
            <h1>
                <i class="fas fa-microchip me-2"></i> 
                Kits Arduino et IOT
            </h1>
        {% endblock %}

        {% block main_content_end_end %}
            {{block.super}}
        {% endblock %}

    {% endblock %}

{% endblock %}

{% block head_body_middle %}
{{block.super}}
{% endblock %}

{% block head_body_end %}
{{block.super}}
{% endblock %}