<!-- Pagination Section-->
<nav aria-label="Pagination des articles">
    <ul class="pagination justify-content-center" id='pagination-list' data-page-number = "{{products.number}}" data-page-range = "{{page_range|safe}}">

        {% if products.has_previous %}
            <li class="page-item">
                {% if page_label == 'Kits Arduino et IOT' %}
                    <button data-url="{% url 'shop-arduino' page=products.previous_page_number %}" class="page-link btn" type="button">&laquo;</button>
                {% elif page_label == 'Installations Fablab' %}
                    <button data-url="{% url 'shop-installations' page=products.previous_page_number %}" class="page-link btn" type="button">&laquo;</button>
                {% else %}
                    <button data-url="{% url 'shop-machine' page=products.previous_page_number %}" class="page-link btn" type="button">&laquo;</button>
                {% endif %}
            </li>
        {% else %}
            <li class="page-item disabled"><button class="page-link btn" type="button">&laquo;</button></li>
        {% endif %}

        {% for num in page_range %}
            <li class="page-item {% if num == products.number %}active{% endif %}">
                {% if page_label == 'Kits Arduino et IOT' %}
                    <button data-url="{% url 'shop-arduino' page=num %}" class="page-link btn" type="button">{{num}}</button>
                {% elif page_label == 'Installations Fablab' %}
                    <button data-url="{% url 'shop-installations' page=num %}" class="page-link btn" type="button">{{num}}</button>
                {% else %}
                    <button data-url="{% url 'shop-machine' page=num %}" class="page-link btn" type="button">{{num}}</button>
                {% endif %}
            </li>
        {% endfor %}

        {% if products.has_next %}
            {% if page_label == 'Kits Arduino et IOT' %}
                <button data-url="{% url 'shop-arduino' page=products.next_page_number %}" class="page-link btn" type="button">&raquo;</button>
            {% elif page_label == 'Installations Fablab' %}
                <button data-url="{% url 'shop-installations' page=products.next_page_number %}" class="page-link btn" type="button">&raquo;</button>
            {% else %}
                <button data-url="{% url 'shop-machine' page=products.next_page_number %}" class="page-link btn" type="button">&raquo;</button>
            {% endif %}
        {% else %}
            <li class="page-item disabled"><button class="page-link btn" type="button">&raquo;</button></li>
        {% endif %}
    </ul>
</nav>