<!-- Pagination Section-->
<nav aria-label="Pagination des articles">
    <ul class="pagination justify-content-center" id='pagination-list' data-page-number = "{{products.number}}" data-page-range = "{{page_range|safe}}">

        {% if products.has_previous %}
            <li class="page-item">
                {% if page_label == 'Kits Arduino et IOT' %}
                    <button onclick="filter_sort_form_datas({{products.previous_page_number}}, '{{page_label}}')" class="page-link" href="{% url 'shop-arduino' page=products.previous_page_number %}" >&laquo;</button>
                {% elif page_label == 'Installations Fablab' %}
                    <button onclick="filter_sort_form_datas({{products.previous_page_number}}, '{{page_label}}')" class="page-link" href="{% url 'shop-installations' page=products.previous_page_number %}" >&laquo;</button>
                {% else %}
                    <button onclick="filter_sort_form_datas({{products.previous_page_number}}, '{{page_label}}')" class="page-link" href="{% url 'shop-machine' page=products.previous_page_number %}" >&laquo;</button>
                {% endif %}
            </li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
        {% endif %}

        {% for num in page_range %}
            <li class="page-item {% if num == products.number %}active{% endif %}">
                <button onclick="filter_sort_form_datas({{num}}, '{{page_label}}')" class="page-link">{{ num }}</button>
            </li>
        {% endfor %}

        {% if products.has_next %}
            {% if page_label == 'arduino' %}
                <button onclick="filter_sort_form_datas({{products.next_page_number}}, '{{page_label}}')" class="page-link" href="{% url 'shop-arduino' page=products.next_page_number %}" >&raquo;</button>
            {% elif page_label == 'installations' %}
                <button onclick="filter_sort_form_datas({{products.next_page_number}}, '{{page_label}}')" class="page-link" href="{% url 'shop-installations' page=products.next_page_number %}" >&raquo;</button>
            {% else %}
                <button onclick="filter_sort_form_datas({{products.next_page_number}}, '{{page_label}}')" class="page-link" href="{% url 'shop-machine' page=products.next_page_number %}" >&raquo;</button>
            {% endif %}
        {% else %}
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
        {% endif %}

    </ul>
</nav>